[project]
	description = A gulp.js plugin to facilitate running nunit tests on .NET assemblies.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Keith Morris (keithmorris)
[access "refs/for/refs/*"]
	read = group user/Keith Morris (keithmorris)
	push = group user/Keith Morris (keithmorris)
	label-Code-Review = -2..+2 group user/Keith Morris (keithmorris)
	label-Verified = -1..+1 group user/Keith Morris (keithmorris)
	rebase = group user/Keith Morris (keithmorris)
	removeReviewer = group user/Keith Morris (keithmorris)
	submit = group user/Keith Morris (keithmorris)
[access "refs/heads/*"]
	read = group user/Keith Morris (keithmorris)
	create = group user/Keith Morris (keithmorris)
	push = +force group user/Keith Morris (keithmorris)
	pushMerge = group user/Keith Morris (keithmorris)
[access "refs/tags/*"]
	push = +force group user/Keith Morris (keithmorris)
	pushTag = group user/Keith Morris (keithmorris)
	pushSignedTag = group user/Keith Morris (keithmorris)
